<div class="card-body">
 @if(showSearchAccordion){   
  <div class="col-md-12" id="municipiosSearchColapsable">
      <h5 class="h6 text-bold border-bottom border-primary pb-2">
          <a 
              class="colapsable collapsed" 
              data-bs-toggle="collapse" 
              href="#municipiosSearchControl" 
              role="button" 
              aria-expanded="true" 
              aria-controls="municipiosSearchControl">
              {{getSearchTitle()}}
          </a>
      </h5>
      <div class="collapse show" id="municipiosSearchControl">  
        <ng-container [ngTemplateOutlet]="formTemplate"></ng-container> 
      </div>  
    </div>
 } @else{
    <ng-container [ngTemplateOutlet]="formTemplate"></ng-container> 
  }      
        
</div>

<ng-template #formTemplate>
      <form class="form-horizontal" [formGroup]="searchForm" (keyup.enter)="searchByFilter()" aria-labelledby="searchFormTitle">
          <div class="viewer-body">
            <div class="row mb-4 align-items-start">
            <div class="col col-12 col-xl-6 ">
        <div class="form-group jnum-datepicker       " >
          <label for="provinciaRefeq" class="form-label">{{'municipios.provinciaref'|translate}}     
</label>
          <div class="input-group input-group-sm">          
            <input type="text" class="d-none" maxlength="100" id="municipios_provinciaRefeqhid"   
              formControlName="provinciaRefeq"  
              readonly>
            <span class="me-1 col-4"> 
              <input #codigoProvinciaPropElement  class="form-control " type="text" maxlength="2"          
                id="municipios_provinciaRefeq"  
                autocomplete="off"                
                (change)="obtenerProvinciaRefByCodigoProvinciaProp($event)"               
                formControlName="codigoProvinciaPropeq" placeholder="{{'provincia.codigo'|translate}} " >        
              </span>           
             <input  #provinciaRefElement type="text" class="form-control rounded-start " 
            id="municipios_provinciaRefeqpropinput"   
            placeholder="{{'municipios.provinciaref'|translate}}" autocomplete="off"
            value="{{ provinciaRefSelected?.nombre }}"
            formControlName="provinciaRefNombre"
            (change)="obtenerProvinciaRefByNombre($event)">            
                <button type="button" class="btn p-1 btn-datepicker border-end-0" attr.aria-label="{{'global.buscar'|translate}}">
                    <i title="{{'global.buscar'|translate}}" class="bi bi-search" (click)="searchProvinciaRef()"></i>
                </button>
                <button type="button" [disabled]="!provinciaRefSelected" class="btn p-1 btn-datepicker border-start-0 border-end-0" attr.aria-label="{{'global.limpiar'|translate}}">
                    <i title="{{'global.limpiar'|translate}}" class="bi bi-eraser" (click)="clearProvinciaRef()"></i>
                </button>
                <button type="button" class="btn p-1 btn-datepicker border-start-0 border-end-0" attr.aria-label="{{'global.add'|translate}}">
                    <i title="{{'global.add'|translate}}" class="bi bi-plus-square" (click)="addProvinciaRef()"></i>
                </button>
                <button type="button" [disabled]="!provinciaRefSelected" class="btn p-1 btn-datepicker border-start-0 border-end-0" attr.aria-label="{{'global.editar'|translate}}">
                    <i title="{{'global.editar'|translate}}" class="bi bi-pencil-square" (click)="editProvinciaRef(provinciaRefSelected)"></i>
                </button>
                <button type="button" [disabled]="!provinciaRefSelected" class="btn p-1 btn-datepicker border-start-0 " attr.aria-label="{{'global.eliminar'|translate}}">
                    <i title="{{'global.eliminar'|translate}}" class="bi bi-trash3" (click)="deleteProvinciaRef(provinciaRefSelected)"></i>
                </button>
          </div>
        </div>    
          <div class="input-group input-group-sm">
          <div>
            <jnum-show-errors [control]="codigoProvinciaPropeq"></jnum-show-errors>
          </div>
            <jnum-show-errors [control]="provinciaRefNombre"></jnum-show-errors>
        </div>   
            </div>
            </div>
            <div class="row mb-4 align-items-start">
            <div class="col col-12 col-xl-7 ">
    <div class="form-group   ">
        <label for="nombreeq" class="form-label">
            {{'municipios.nombre'|translate}} 
    
        </label>
        <input 
            type="text" 
            id="nombreeq" 
            autocomplete="off"
            class="form-control form-control-sm "
             
             
            maxlength="70" 
             
            
            formControlName="nombreeq" 
            aria-describedby="nombreeqHelp" 
            placeholder="{{'municipios.nombre'|translate}} "
        >
        <jnum-show-errors [control]="nombreeq" [controlName]="'nombreeq'" id="nombreeqHelp"></jnum-show-errors>
    </div>
            </div>
            </div>
            <div class="row mb-4 align-items-start">
            <div class="col col-12 col-xl-4 ">
    <div class="form-check">
      <input 
        class="form-check-input"
        type="checkbox"  
        id="municipios_mostrarNoActivoseq" formControlName="mostrarNoActivoseq" 
         
        
       >
      <label class="form-check-label" for="municipios_mostrarNoActivoseq">{{'municipios.mostrarnoactivos'|translate}} </label>
    </div>
            </div>
            </div>
          </div>
          <div class="row align-items-center">
              <div class="col text-end">
        <button type="button" title="{{ 'global.limpiar.filtro' | translate }}" class="btn btn-secondary btn-sm ms-1 mt-2" (click)="clearForm()"><i class="bi bi-trash"></i></button>       
        <button type="button" title="{{ 'global.save.filtro' | translate }}" class="btn btn-secondary btn-sm ms-1 mt-2" (click)="saveFilter()"><i class="bi bi-floppy"></i></button>
        <button type="button" title="{{ 'global.restore.filtro' | translate }}" class="btn btn-secondary btn-sm ms-1 mt-2" (click)="restoreFilter()"><i class="bi bi-arrow-repeat"></i></button>          
        <button type="button" title="{{ 'global.buscar' | translate }}" class="btn btn-primary btn-sm ms-1 mt-2" (click)="searchValidationEntityByFilter()"><i class="bi bi-search"></i></button>
              </div>
          </div>
      </form>
</ng-template>