<div class="row my-4" *ngIf="paises">
    <div class="col col-12 col-md-12">
        <section class="title sticky-top d-flex align-items-center mb-4" aria-labelledby="editUserTitle">
            <div class="title-text d-flex align-items-center">
                <a *ngIf="showGoToPrevious" (click)="goToPrevious()" class="btn btn-link btn-rounded btn-circle me-2" role="button" attr.aria-label="{{ 'global.volver' | translate }}"><i class="bi bi-arrow-left"></i></a>
                <h1 class="flex-grow-1" id="editUserTitle">{{getEditTitle()}}</h1>
            </div>
            <app-paises-botonera-op *ngIf="entity" #paisesbotoneraop (sendform)="onSubmit($event)" (previous)="goToPrevious()" (update)="updateFromDetalle($event)" [parent]="entity"></app-paises-botonera-op>
        </section>
        <ng-container appInsertSectionsMap></ng-container>
        <div id="collapseEditPaises" class="card mt-4 mb-3">
            <div class="card-body">
                            <form class="form-horizontal" [formGroup]="paisesEditForm" (keyup.enter)='onSubmit($event)'>
                                <div class="viewer-body ">
            <div class="row mb-4 align-items-start">
            <div class="col-md-3" id="paises_codigo_col">
    <div class="form-group   required">
        <label for="codigo" class="form-label">
            {{'paises.codigo'|translate}} 
    <span class="text-primary">*</span>
        </label>
        <input 
            type="text" 
            id="codigo" 
            autocomplete="off"
            class="form-control form-control-sm mandatory "
             
             
            maxlength="3" 
             
            (change)="codigoChange()"
            formControlName="codigo" 
            aria-describedby="codigoHelp" 
            placeholder="{{'paises.codigo'|translate}} "
        >
        <jnum-show-errors [control]="codigo" [controlName]="'codigo'" id="codigoHelp"></jnum-show-errors>
    </div>
            </div>
            </div>
            <div class="row mb-4 align-items-start">
            <div class="col-md-7" id="paises_nombre_col">
    <div class="form-group   required">
        <label for="nombre" class="form-label">
            {{'paises.nombre'|translate}} 
    <span class="text-primary">*</span>
        </label>
        <input 
            type="text" 
            id="nombre" 
            autocomplete="off"
            class="form-control form-control-sm mandatory "
             
             
            maxlength="250" 
             
            
            formControlName="nombre" 
            aria-describedby="nombreHelp" 
            placeholder="{{'paises.nombre'|translate}} "
        >
        <jnum-show-errors [control]="nombre" [controlName]="'nombre'" id="nombreHelp"></jnum-show-errors>
    </div>
            </div>
            <div class="col-md-1" id="paises_digito_col">
    <div class="form-group   ">
        <label for="digito" class="form-label">
            {{'paises.digito'|translate}} 
    
        </label>
        <input 
            type="text" 
            id="digito" 
            autocomplete="off"
            class="form-control form-control-sm text-end"
             
             
            maxlength="1" 
             
            
            formControlName="digito" 
            aria-describedby="digitoHelp" 
            placeholder="{{'paises.digito'|translate}} "
        >
        <jnum-show-errors [control]="digito" [controlName]="'digito'" id="digitoHelp"></jnum-show-errors>
    </div>
            </div>
            </div>
            <div class="row mb-4 align-items-start">
            <div class="col-md-3" id="paises_activo_col">
    <div class="form-check">
      <input 
        class="form-check-input"
        type="checkbox"  
        id="paises_activo" formControlName="activo" 
         
        
       >
      <label class="form-check-label" for="paises_activo">{{'paises.activo'|translate}} </label>
    </div>
            </div>
            <div class="col-md-3" id="paises_comunitario_col">
    <div class="form-check">
      <input 
        class="form-check-input"
        type="checkbox"  
        id="paises_comunitario" formControlName="comunitario" 
        (change)="comunitarioChange()" 
        
       >
      <label class="form-check-label" for="paises_comunitario">{{'paises.comunitario'|translate}} </label>
    </div>
            </div>
            <div class="col-md-3" id="paises_asimiladoAComunitario_col">
    <div class="form-check">
      <input 
        class="form-check-input"
        type="checkbox"  
        id="paises_asimiladoAComunitario" formControlName="asimiladoAComunitario" 
         
        
       >
      <label class="form-check-label" for="paises_asimiladoAComunitario">{{'paises.asimiladoacomunitario'|translate}} </label>
    </div>
            </div>
            </div>
                                </div>
                            </form>
            </div>
        </div>
    </div>
</div>
