<div class="row my-4" *ngIf="showWrapper">
    <div class="col col-12 col-md-12">
      @if(showWrapperTitle){
        <section class="title sticky-top d-flex align-items-center mb-4" aria-labelledby="wrapperTitle">
            <div class="title-text d-flex align-items-center">
                <a *ngIf="showGoToPrevious" (click)="goToPrevious()" class="btn btn-link btn-rounded btn-circle me-2" role="button" attr.aria-label="{{ 'global.volver' | translate }}"><i class="bi bi-arrow-left"></i></a>
                <h1 class="flex-grow-1" id="wrapperTitle">{{wrapperTitle}}</h1>
            </div>
            <div class="main-actions d-flex {{botoneraClass}}">
            <app-municipios-botonera class="d-flex" [isheader]='true'></app-municipios-botonera>
            </div>
        </section>
        }
        <ng-container appInsertSectionsMap/>
        <div class="card searchbox mt-4 mb-5 {{searchClass}}" role="search" aria-labelledby="searchTitle">
            <app-municipios-search #searchMunicipiosForm (setSearchData)="municipiosList.setSearchData($event)"></app-municipios-search>
        </div>
        <div class="row {{listClass}}" role="list" aria-labelledby="listTitle">
                <label class="form-label" *ngIf="getTableListTitle()!=''">
                    <h5>{{getTableListTitle()}}</h5>
                </label>                
                <app-municipios-list #municipiosList  (paginate)="searchMunicipiosForm.searchByFilter($event)" (pdf)="searchMunicipiosForm.generarPdf()"  (excel)="searchMunicipiosForm.generarExcel()"></app-municipios-list>
        </div>
    </div>
</div>