    <div [ngClass]="{'row my-4': (!nombreDetalle || !conf.env.detailsInModal), 'row': (nombreDetalle && conf.env.detailsInModal) }" *ngIf="!isonetoone">
        <div class="col col-12 col-md-12">
            <section class="title sticky-top d-flex align-items-center mb-4" *ngIf="!parent || (tree && conf.env.saveTogether) || (nombreDetalle && conf.env.detailsInModal)">
                <div class="title-text d-flex align-items-center">
                    @if(nombreDetalle && conf.env.detailsInModal){
                      <a  (click)="goToPrevious()" class="btn btn-link btn-rounded btn-circle me-2" role="button" attr.aria-label="{{ 'global.volver' | translate }}" title="{{ 'global.volver' | translate }}"><i class="bi bi-arrow-left"></i></a>
                    } @else{
                      <a (click)="goToPrevious()" class="btn btn-link btn-rounded btn-circle me-2" role="button" attr.aria-label="{{ 'global.volver' | translate }}" title="{{ 'global.volver' | translate }}"  ><i class="bi bi-arrow-left"></i></a>
                    }                                       
                    <h1 class="flex-grow-1">{{getNewTitle()}}</h1>
                </div>
                <div class="main-actions" >
                    	  @if(!nombreDetalle){
							              <button *ngIf="!parent && !conf.env.saveTogether" (click)="onSubmit()" type="button" class="btn btn-primary" appHasPermission permission="add_ent_territorio_paises">{{'global.guardar'|translate}}</button>
                            <button *ngIf="!parent || (tree && conf.env.saveTogether)" (click)="onSubmit('new')" type="button" class="btn btn-secondary ms-1" appHasPermission permission="add_ent_territorio_paises">{{'global.guardar'|translate}}</button>
                            <button *ngIf="!parent || (tree && conf.env.saveTogether)" (click)="onSubmit('list')" type="button" class="btn btn-primary  ms-1"  appHasPermission permission="add_ent_territorio_paises">{{'global.guardar.salir'|translate}}</button>
                        }@else{
                           @if(nombreDetalle && conf.env.detailsInModal){
                            <button *ngIf="!parent || conf.env.saveTogether" (click)="onSubmit()" type="button" class="btn btn-primary  ms-1"  appHasPermission permission="add_ent_territorio_paises">{{'global.guardar'|translate}}</button>
                           }@else{
                            <button *ngIf="!parent || conf.env.saveTogether" (click)="onSubmit('new')" type="button" class="btn btn-secondary ms-1" appHasPermission permission="add_ent_territorio_paises">{{'global.guardar'|translate}}</button>
                            <button *ngIf="!parent || conf.env.saveTogether" (click)="onSubmit('list')" type="button" class="btn btn-primary  ms-1"  appHasPermission permission="add_ent_territorio_paises">{{'global.guardar.salir'|translate}}</button>
                           }
                        }
                </div>
            </section>
            <ng-container *ngIf="!parent || this.pop" appInsertSectionsMap></ng-container>

            <div class="card mt-4 mb-3" *ngIf="!parent || (tree && conf.env.saveTogether)">
                <div class="card-body">
                    <ng-container *ngTemplateOutlet="formTemplate"/>
                </div>
            </div>
            <div class="card mt-4 mb-3" *ngIf="parent && !(tree && conf.env.saveTogether)">
                <div class="card-body">
                    <div class="col-md-12" id="paisesColapsable">
                     @if(!(nombreDetalle && conf.env.detailsInModal)){
                        <h2 class="h6 text-bold border-bottom border-primary pb-2">
                            <a 
                                class="colapsable collapsed" 
                                data-bs-toggle="collapse" 
                                href="#paisesControl" 
                                role="button" 
                                aria-expanded="true" 
                                aria-controls="paisesControl">
                                {{ getNewTitle() }}
                            </a>
                        </h2>
                        }
                        <div [ngClass]="{'collapse': (!nombreDetalle || !conf.env.detailsInModal)}"  class="collapse" id="paisesControl">
                            <ng-container *ngTemplateOutlet="formTemplate"/>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
<ng-template #formTemplate>
                        <form class="form-horizontal" [formGroup]="paisesNewForm" (keyup.enter)='onSubmit($event)' aria-labelledby="paisesFormTitle">
                            <div class="viewer-body">
            <div class="row mb-4 align-items-start">
            <div class="col col-12 col-xl-3 ">
    <div class="form-group   required">
        <label for="codigo" class="form-label">
            {{'paises.codigo'|translate}} 
    <span class="text-primary">*</span>
        </label>
        <input 
            type="text" 
            id="codigo" 
            autocomplete="off"
            class="form-control form-control-sm mandatory "
             
             
            maxlength="3" 
             
            (change)="codigoChange()"
            formControlName="codigo" 
            aria-describedby="codigoHelp" 
            placeholder="{{'paises.codigo'|translate}} "
        >
        <jnum-show-errors [control]="codigo" [controlName]="'codigo'" id="codigoHelp"></jnum-show-errors>
    </div>
            </div>
            </div>
            <div class="row mb-4 align-items-start">
            <div class="col col-12 col-xl-7 ">
    <div class="form-group   required">
        <label for="nombre" class="form-label">
            {{'paises.nombre'|translate}} 
    <span class="text-primary">*</span>
        </label>
        <input 
            type="text" 
            id="nombre" 
            autocomplete="off"
            class="form-control form-control-sm mandatory "
             
             
            maxlength="250" 
             
            
            formControlName="nombre" 
            aria-describedby="nombreHelp" 
            placeholder="{{'paises.nombre'|translate}} "
        >
        <jnum-show-errors [control]="nombre" [controlName]="'nombre'" id="nombreHelp"></jnum-show-errors>
    </div>
            </div>
            <div class="col col-12 col-xl-1 ">
    <div class="form-group   ">
        <label for="digito" class="form-label">
            {{'paises.digito'|translate}} 
    
        </label>
        <input 
            type="text" 
            id="digito" 
            autocomplete="off"
            class="form-control form-control-sm text-end"
             
             
            maxlength="1" 
             
            
            formControlName="digito" 
            aria-describedby="digitoHelp" 
            placeholder="{{'paises.digito'|translate}} "
        >
        <jnum-show-errors [control]="digito" [controlName]="'digito'" id="digitoHelp"></jnum-show-errors>
    </div>
            </div>
            </div>
            <div class="row mb-4 align-items-start">
            <div class="col col-12 col-xl-3 ">
    <div class="form-check">
      <input 
        class="form-check-input"
        type="checkbox"  
        id="paises_activo" formControlName="activo" 
         
        
       >
      <label class="form-check-label" for="paises_activo">{{'paises.activo'|translate}} </label>
    </div>
            </div>
            <div class="col col-12 col-xl-3 ">
    <div class="form-check">
      <input 
        class="form-check-input"
        type="checkbox"  
        id="paises_comunitario" formControlName="comunitario" 
        (change)="comunitarioChange()" 
        
       >
      <label class="form-check-label" for="paises_comunitario">{{'paises.comunitario'|translate}} </label>
    </div>
            </div>
            <div class="col col-12 col-xl-3 {{asimiladoAComunitarioCss}}">
    <div class="form-check">
      <input 
        class="form-check-input"
        type="checkbox"  
        id="paises_asimiladoAComunitario" formControlName="asimiladoAComunitario" 
         
        
       >
      <label class="form-check-label" for="paises_asimiladoAComunitario">{{'paises.asimiladoacomunitario'|translate}} </label>
    </div>
            </div>
            </div>
                            </div>
                        </form>
                        @if(!(nombreDetalle && conf.env.detailsInModal)){
                        <div class="row align-items-center" *ngIf="parent && !(tree && conf.env.saveTogether)">
                            <div class="col text-end">
                                <button type="button" class="btn btn-primary btn-sm ms-1 mt-2" (click)="onSubmit()" appHasPermission permission="add_ent_territorio_paises">{{'global.add'|translate}}</button>
                            </div>
                        </div>
                        }
</ng-template>
